/* .................general styling................ */
.bg_white{
    background-color: white!important;
}
.black{
   color:black;
}

.help-block{
    font-size: 1em;
    color:grey;
}

body {
    font-family: Arial;
    padding:0;
    margin:0;
    background-color:#232F3E;
   

}
ul{
    padding-left: 5px;
}
.container-fluid:{
    padding:0;
}

.row{
    padding:0!important;
    margin:0!important;
}

.col{
   padding-right:0!important; 
    padding-left:0!important; 
   margin: 0!important;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

input{
      border-radius: 5px
}

.container-fluid{
   padding-left: 30px;
   padding-right: 30px;
}
/*.........................................navigation for home page......................*/
.nav2 {
    float: right;
    color:white;
    }

.dropdown-menu{
 margin-right:80px;
}

.dropdown-toggle{
    text-align:right;
    color:#A9A9A9;
}

.cart_text{
    padding-left: 5px;
}
/*.........................................hero image......................*/
.header{
    height:180px;
    padding-top:20px;
    background-color: white;
   }
   
@media only screen and (max-width:414px) {
.header{
    height:70px;
}
}

.hero{
      position: relative;
      text-align: center;
       padding-left:0;
    padding-right:0;
    
}


.img-fluid{
    width:100%!important;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  

}

input{
    height:40px;
}

@media only screen and (max-width:414px) {
input {
      height:30px;
     
  }
 .go{
      font-size: 15px;
      height:30px;
      margin-top: 10px;
      padding-bottom: 5px;
  }
  
  
}

/*.........................................article box......................*/

.article__box{
    background-color: grey;
    height:300px;
    width:100%;
    text-align:center;
    padding:0;
}

.article__box img{
     height:300px;
    width:100%;
}

.bottom {
    display: block;
  position: absolute;
  bottom: 8px;
  left:38%;
}



.content {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  height:40%;
  padding: 20px; /* Some padding */
  font-size: 30px;
}

/*.........................................footer......................*/

.social {
    display: block;
     margin: auto;
    
  width: 50%;
  text-align:center;
  padding-bottom: 50px;
  color:#A9A9A9;
}
.footer-copyright{
    color:#A9A9A9;
}

hr{
    color: #A9A9A9;
}

.footer{
    margin-top:50px;
}

i{
    color:#A9A9A9;
}


.social a{
    text-align: center;
   
    
}

.signup{
    text-align: center;
}

.signup form{
    display:inline-block;
   margin: auto;
   width:auto;
}

.signup_button{
    margin-top: 20px;
}

.form-control{
    width:100%;
}

/*.input-group{
    margin-left:25%;
}*/


/*.........................................media rules......................*/

@media only screen and (max-width:414px) {
  .awesome {
      font-size:50px;
  }
}

/*.........................................advert......................*/
.search-title{
    color:white;
}

label{
    color:white;
}

.card-body{
    min-height: 150px;
}

.card img{
    max-height:183px;
    
}


/*.......................................business......................*/
.business{
    color:white;
}



.img_holder{
    padding-top: 10%;
}

.detail{
    color: #343A40;
    padding:0!important;
    background-color: white;
}
.detail_image{
    position:relative;
}

.detail_middle i, .detail i{
     font-size: 30px;
 padding:10px;
  margin-bottom: 15px;
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detail_image img{
    margin:auto;
    padding-bottom: 15px;
}

.title{
    background : linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) { 
    .title{
        font-size:60px;
    }
}

.info_text{
    color:#7b4397;
    font-size: 23px;
    font-weight: 400;
}

@media only screen and (max-width:414px) {
  .info_text {
      font-size:15px!important;
  }
}


 .detail_middle{
     text-align: center;
 } 
 
 .info-slug{
     
     font-size:20px;
     color:grey;
 }
 
 .slug_text{
     color:white;
     font-size: 10px;
 }
 
 .ad_section{
     background-color: white;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 .ad_bc{
     margin-bottom: 0!important;
 }
 
 /*............................alert box.............................*/
.alert{
    width:80%;
    margin-left: 10%;
}

.message{
    width:20%;
    margin-left: 40%;
    min-height:150px;
    margin-top: 5px;
    position: fixed;
    top:30%;
    z-index: 1;
    background-color:	#fffff4;
    border-radius: 15px;
    border:#0DA1AF 5px solid;
    padding-left: 10px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    color:black;
   
}

#fade{
    cursor: pointer;
    font-weight: bold;
    float: right;
    padding:5px;
    position: absolute;
    bottom: 0;
    left: 35%;
    text-align: center;
}